<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <table class="job-listing">
        <tbody>
        <tr th:each="job : ${jobs}">
            <ul style="list-style-type:none">
                <li><b>ID: </b> <span style="font-weight: bold;" th:text="${job.id}"></span> </li>
                <li><b>Name: </b> <span style="font-weight: bold;" th:text="${job.name}"></span> </li>
                <li><b>Employer: </b> <span style="font-weight: bold;" th:text="${job.employer}"></span> </li>
                <li><b>Location: </b> <span style="font-weight: bold;" th:text="${job.location}"></span> </li>
                <li><b>Position Type: </b> <span style="font-weight: bold;" th:text="${job.positionType}"></span> </li>
                <li><b>Skill:</b> <span style="font-weight: bold;" th:text="${job.coreCompetency}"></span> </li>
            </ul>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>